.graph-main-container {
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
}

.graph-heading {
    color: red
}

.graph-main-content-error {
    text-align: center;
    margin-top: 15px;
    color: red;
    border: 2px black;
    padding: 44px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
